<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name ="TPApplicationLogger" switchName="TPALoggerSwitch">
        <listeners>
          <add name="FileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="custom_tace.log" traceOutputOptions="DateTime,ThreadId,ProcessId,Timestamp,LogicalOperationStack,Callstack">
            <filter initializeData="All" type="System.Diagnostics.EventTypeFilter"/>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="TPALoggerSwitch" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>